<!-- Toolbar -->
<mat-toolbar color="primary" >

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="sidenav.toggle()" >menu</mat-icon>
  </button>
  Lift

  
</mat-toolbar>
<!--  -->


<!--  -->
<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" 
    [fixedTopGap]>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/ispis-putovanja">
        <mat-icon>add</mat-icon>Ispis putovanja
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/sign-in" *ngIf="!authService.isLoggedIn">
        <mat-icon>login</mat-icon>Login
      </a>
      <a mat-list-item (click)="authService.SignOut()" *ngIf="authService.isLoggedIn">
        <mat-icon>logout</mat-icon>Log out
      </a>
      
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>